[submodule "plantower"]
	path = plantower
	url = https://github.com/cristeab/plantower.git
[submodule "noise_detector"]
	path = noise_detector
	url = https://github.com/cristeab/noise_detector.git
[submodule "ambient_monitor"]
	path = ambient_monitor
	url = https://github.com/cristeab/ambient_monitor.git
[submodule "renesas_zmod4510"]
	path = renesas_zmod4510
	url = https://github.com/cristeab/renesas_zmod4510.git
[submodule "winsen_ze07co"]
	path = winsen_ze07co
	url = https://github.com/cristeab/winsen_ze07co.git
