fastapi
uvicorn
websockets
influxdb3-python
adafruit-blinka
adafruit-circuitpython-bme680
adafruit-circuitpython-scd4x
lgpio
adafruit-circuitpython-ltr390
numpy
scipy
pandas
PyAudio
SpeechRecognition
sensirion-i2c-driver
sensirion-i2c-sgp4x
sensirion_gas_index_algorithm
