# /etc/systemd/system/air_quality.service

# Enable the service
# sudo cp air_quality.service /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl enable air_quality.service
# sudo systemctl start air_quality.service

# Check status and logs
# sudo systemctl status air_quality.service
# sudo journalctl -fu air_quality.service

[Unit]
Description=Air Quality detector from 2 dust sensors
After=network.target

[Service]
Type=simple
User=bogdan
WorkingDirectory=/home/bogdan/projects/aq_dashboard
ExecStart=/home/bogdan/.venv/bin/python /home/bogdan/projects/aq_dashboard/air_quality.py /dev/ttyUSB0 /dev/ttyUSB1
Environment="INFLUXDB3_AUTH_TOKEN=apiv3_iS-oAmXsO794N_eiX8SY-o_Vfx45Iu3PuoHRvH-1HCZ-_9D4nvWrJJhQo5k0dcn0zVkXoKpIh75YSQTgWJ-LBA"
Restart=on-failure

[Install]
WantedBy=multi-user.target
