# /etc/systemd/system/ambient.service

# Enable the service
# sudo cp ambient.service /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl enable ambient.service
# sudo systemctl start ambient.service

# Check status and logs
# sudo systemctl status ambient.service
# sudo journalctl -fu ambient.service

[Unit]
Description=Temperature, pressure, humidity and VOC detector
After=network.target

[Service]
Type=simple
User=bogdan
WorkingDirectory=/home/bogdan/projects/aq_dashboard
ExecStart=/home/bogdan/.venv/bin/python /home/bogdan/projects/aq_dashboard/ambient.py
EnvironmentFile=/etc/default/aq_dashboard.env
Restart=on-failure

[Install]
WantedBy=multi-user.target
