# /etc/systemd/system/carbon_dioxide_sensor.service

# Enable the service
# sudo cp carbon_dioxide_sensor.service /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl enable carbon_dioxide_sensor.service
# sudo systemctl start carbon_dioxide_sensor.service

# Check status and logs
# sudo systemctl status carbon_dioxide_sensor.service
# sudo journalctl -fu carbon_dioxide_sensor.service

[Unit]
Description=CO2, temperature and relative humidity sensor
After=multi-user.target

[Service]
Type=simple
User=bogdan
WorkingDirectory=/home/bogdan/projects/aq_dashboard
ExecStart=/home/bogdan/.venv/bin/python /home/bogdan/projects/aq_dashboard/carbon_dioxide_sensor.py
Environment="INFLUXDB3_AUTH_TOKEN=apiv3_mrYtrK_kbi6dpfx9xdmPn1BkVJ5kQjnL17ag9PXGxiLIUnrvunTqiCnljWhQ8uw2aiWFI3cI6QKLMBHgbKexPA"
Restart=on-failure

[Install]
WantedBy=multi-user.target