# /etc/systemd/system/noise_level.service

# Enable the service
# sudo cp noise_level.service /etc/systemd/system/
# sudo systemctl daemon-reload
# sudo systemctl enable noise_level.service
# sudo systemctl start noise_level.service

# Check status and logs
# sudo systemctl status noise_level.service
# sudo journalctl -u noise_level.service

[Unit]
Description=Ambiental noise level detector
After=network.target

[Service]
Type=simple
User=bogdan
WorkingDirectory=/home/bogdan/projects/aq_dashboard
ExecStart=/home/bogdan/.venv/bin/python /home/bogdan/projects/aq_dashboard/noise_level.py --port /dev/ttyACM0
Environment="INFLUXDB3_AUTH_TOKEN=apiv3_iS-oAmXsO794N_eiX8SY-o_Vfx45Iu3PuoHRvH-1HCZ-_9D4nvWrJJhQo5k0dcn0zVkXoKpIh75YSQTgWJ-LBA"
Restart=on-failure

[Install]
WantedBy=multi-user.target
